.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 15px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
}

.image {
  width: 15em;
}

.image img {
  width: 100%;
  height: 100%;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}
.form-group label {
  font-size: 20px;
  color: #fff;
}
.form-group input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 250ms ease-in-out;
}
.form-group input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #0e91ce96;
}
.footer {
  margin-top: 2em;
  margin-bottom: 20px;
}

.btn-login {
  font-size: 21px;
  padding: 5px 20px;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #2386c8;
}
.btn-login:focus {
  outline: none;
}
.error-info-form {
  color: red;
  font-size: 12px;
  padding-left: 10px;
}
